.root{
	-fx-base: #686868;
	//-fx-background-color:#2D2D30;
}

#HBox{
	-fx-background-color:#2D2D30;
}

.menu-bar{
 -fx-background-color: linear-gradient(to bottom, derive(-fx-color,100%), derive(-fx-color,-100%)), -fx-body-color;
 
	-fx-background-color:#2D2D30;
}

.menu-button:hover{
	-fx-background-color:#3E3E40;
}

.menu-item{
	-fx-background-color:#2D2D30;
	-fx-border-color:#2D2D30;
}
.context-menu{
	-fx-border-color:#2D2D30;
}
.menu .label{
	-fx-text-fill:#DDDDDD;
}

.table-column{
	-fx-background-color:#2D2D30;
	//-fx-border-left-color:#3F3F46;
	-fx-border-color:#3F3F46;
}
.table-view{
	-fx-background-color:#2D2D30;
	-fx-border-color:#3F3F46;
}

.label{
	-fx-text-fill: #DDDDDD;
}
.button{
	-fx-background-color:#2D2D30;
	-fx-text-fill:#DDDDDD;
	-fx-border-color:#3E3E40;
	-fx-border-width:1;
}
.button:hover{
	-fx-background-color:#3E3E40;
	-fx-text-fill:#DDDDDD;
	-fx-border-color:#3E3E40;
	-fx-border-width:1;
}